:root {
  --white: #e1d9ff;
  --dark-purple: #2b1444;
  --train-purple: #572b83;
  --train-window: #d4aa71;
  --shooting-star-purple: #502b8c;
  --light-pink: #b65b8d;
  --dark-pink: #863c82;
  --dono-ka-sar: #9c6bc3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--dark-pink);
    color: var(--dark-purple);
}

header {
    background-color: var(--train-purple);
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    animation: zoomIn 1s ease-in-out;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
    animation: fadeInUp 1s ease-in-out;
}

nav {
    background-color: var(--train-window);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--dark-purple);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--shooting-star-purple);
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 2rem auto;
}

.button {
    padding: 20px 40px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
    border: none;
    border-radius: 8px; 
    background-color: var(--train-purple);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
}


.button:hover {
    background-color: var(--shooting-star-purple);
    transform: scale(1.1);
}

footer {
    background-color: var(--train-window);
    text-align: center;
    padding: 0.1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: var(--dark-purple);
    font-size: 0.8rem;
}
