/* Global Styles */
:root {
    --white: #e1d9ff;
    --dark-purple: #2b1444;
    --train-purple: #572b83;
    --train-window: #d4aa71;
    --shooting-star-purple: #502b8c;
    --light-pink: #b65b8d;
    --dark-pink: #863c82;
    --dono-ka-sar: #9c6bc3;
}
body {
    background-color: var(--dark-purple);
    color: var(--white);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Calendar Styles */
header {
    background-color: var(--train-purple);
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    animation: zoomIn 1s ease-in-out;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
    animation: fadeInUp 1s ease-in-out;
}

nav {
    background-color: var(--train-window);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--dark-purple);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--shooting-star-purple);
}

section {
    margin: 1rem;
    padding: 1rem;
}

.events-box {
    background-color: var(--dark-pink);
    color: var(--white);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.events-box h3 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
}

.events-box ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.events-box li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.fc-view-container {
    background-color: var(--white);
}

.fc-head-container, .fc-day-top {
    background-color: var(--train-window);
    color: var(--dark-purple);
    font-weight: bold;
}

.fc-content-skeleton {
    border: 1px solid var(--dark-purple);
    background-color: var(--light-pink);
    padding: 10px;
}

.fc-event {
    background-color: var(--dark-pink);
    border: 1px solid var(--dark-pink);
    color: var(--white);
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 0.9rem;
}

footer {
    background-color: var(--train-window);
    text-align: center;
    padding: 0.1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: var(--dark-purple);
    font-size: 0.8rem;
}

/* Animations */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

