:root {
    --white: #e1d9ff;
    --dark-purple: #2b1444;
    --train-purple: #572b83;
    --train-window: #d4aa71;
    --shooting-star-purple: #502b8c;
    --light-pink: #b65b8d;
    --dark-pink: #863c82;
    --dono-ka-sar: #9c6bc3;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--dark-purple);
}
/* Header Styles */
header {
    background-color: var(--train-purple);
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    animation: zoomIn 1s ease-in-out;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
    animation: fadeInUp 1s ease-in-out;
}
/* Navigation Styles */
nav {
    background-color: var(--train-window);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--dark-purple);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--shooting-star-purple);
}

/* Form Styles */
.form-container {
    max-width: 100%; /* Adjust this value as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
box-sizing: border-box;
}

#form-title {
    color: var(--train-purple);
    text-align: center;
    margin-bottom: 20px;
}

.toggle-container {
    margin-bottom: 20px;
}

.toggle-container label {
    color: var(--dark-purple);
}

.toggle-container input[type="checkbox"] {
    margin-left: 5px;
}

form {
    display: block;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: var(--dark-purple);
}

form input[type="text"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
 box-sizing: border-box;
}

form textarea {
    resize: vertical;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: var(--train-purple);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hide the login form initially */
#login-form {
    display: none;
}

footer {
    background-color: var(--train-window);
    text-align: center;
    padding: 0.1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

footer p {
    color: var(--dark-purple);
    font-size: 0.8rem;
}


/* Animations */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
