:root {
--white: #e1d9ff;
    --primary-bg: #e1d9ff;
    /* Light Purple */
    --dark-purple: #2b1444;
    --train-purple: #572b83;
    --train-window: #d4aa71;
    --shooting-star-purple: #502b8c;
    --light-pink: #b65b8d;
    --dark-pink: #863c82;
    --dono-ka-sar: #9c6bc3;
}
nav {
    background-color: var(--train-window);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--dark-purple);
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--shooting-star-purple);
}
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    text-align: center;
    background-color: var(--primary-bg);
}
header {
    background-color: var(--train-purple);
    color: var(--white);
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    animation: zoomIn 1s ease-in-out;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
    animation: fadeInUp 1s ease-in-out;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background-color: var(--train-purple);
    color: #fff;
}

tr:nth-child(even) {
    background-color: var(--train-window);
}

tr:hover {
    background-color: var(--shooting-star-purple);
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    cursor: pointer; /* Change cursor on hover */
}

/* Additional styling for sample data */
tr:nth-child(odd) {
    background-color: var(--light-pink);
}

/* Additional styling for sample data */
tr:nth-child(odd):hover {
    background-color: var(--dark-pink);
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}
/* Animations */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
