<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/button_page.css">
    <title>Care Connect</title>
</head>
<body>
    <header>
        <h1>Care Connect</h1>
        <p>Bridging Lives, Reducing Waste, Weaving Sustainability</p>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li> 
            <li><a href="volunteer.html">Volunteer</a></li>
            <li><a href="donate.html">Donate</a></li>
            <li><a href="sponsor.html">Sponsor</a></li>
            <li><a href="calendar.html">Calendar</a></li>
            <li><a href="community.html">Community</a></li>
        </ul>
    </nav>
    <div class="button-container">
        <a href="{{ url_for('register_login') }}"<button class="button">USER</button></a>
        <a href="{{url_for('carehome_registration')}}"<button class="button">CAREHOMES</button></a>
        <a href="{{url_for('register_login_institution')}}"<button class="button">INSTITUTIONS</button></a>
    </div>
    <footer>
        <p>&copy; 2024 Care Connect | Contact: info@harmonylink.org</p>
    </footer>
</body>
</html>
