<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CareConnect Contact Us</title>
  <link rel="stylesheet" href="../static/css/contactus.css">
</head>
<body>
  <header>
    <h1>Harmony Link</h1>
    <p>Bridging Lives, Reducing Waste, Weaving Sustainability</p>
    <h1>Contact Us</h1>
  </header>
  <nav>
    <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li> 
            <li><a href="volunteer.html">Volunteer</a></li>
            <li><a href="donate.html">Donate</a></li>
            <li><a href="sponsor.html">Sponsor</a></li>
            <li><a href="calendar.html">Calendar</a></li>
            <li><a href="community.html">Community</a></li>
    </ul>
  </nav>
  <section>
    <h2>Main Office CareConnect</h2>
    <p>123 Care Avenue, Bangalore</p>
    <h2>Contact Information</h2>
    <p>
      Phone: 123-456-7890<br>
      Email: info@careconnect.com
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.536598820922!2d77.59487971433058!3d12.971598590892855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c1dfc8d9%3A0x4c6c56f1f8f5d9af!2sBangalore%2C%20Karnataka%2C%20India!5e0!3m2!1sen!2sus!4v1647371482766!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <button onclick="scheduleVisit()">Schedule a Visit</button>
  </section>
  <

