<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Institution/Login Form</title>
    <link rel="stylesheet" href="../static/css/form.css">
</head>
<body>

   

<div class="form-container">
    <h2 id="form-title">Carehome Registration</h2>


    <form id="registration-form" action="{{ url_for('register_carehome') }}" method="post">
        <!-- Registration Form Fields -->

        <label for="i_name">Carehome Name:</label>
        <input type="text" id="c_name" name="c_name" required><br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required><br>


        <label for="contact">Contact:</label>
        <input type="number" id="contact" name="contact" required><br>

        <label for="count">Count of Individuals</label>
        <input type="number" id="count" name="count" required><br>
        

        <label for="type">Type of Carehome</label>
        <select id="type" name="type">
            <option value="orpganage">Orpganage</option>
            <option value="oldagehome">Oldagehome</option>
        </select>
        <br>
        <br>


        <input type="submit" value="Register">
    </form>

</div>
 

</body>
</html>
