<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Institution/Login Form</title>
    <link rel="stylesheet" href="../static/css/form.css">
</head>

<body>



    <div class="form-container">
        <h2 id="form-title">Sponsor An Event</h2>

        <form id="registration-form" action="{{ url_for('add_sponsor') }}" method="post">
            <!-- Registration Form Fields -->

            <label for="event">Event</label>
            <select id="event" name="event">
                <option value="Music and Dance Therapy">Music and Dance Therapy</option>
                <option value="Story Telling Sessions">Story Telling Sessions</option>
                <option value="Gardnening Workshops">Gardnening Workshops</option>
                <option value="Health And Wellness">Health And Wellness</option>
                <option value="Education/Technology">Education/Technology</option>
            </select>
            <br>
            <br>

            <label for="carehome">Carehome</label>
            <select id="carehome" name="carehome">
                {% for carehome in carehomes %}
                <option value="{{ carehome[0] }}"> {{ carehome[1] }} </option>
                {% endfor %}
            </select>

            <label for="date">Date</label>
            <input type="date" id="date" name="date" required>
            <br>
            <br>


            <input type="submit" value="Sponsor">
        </form>

        <h2>{{ error_message }}</h2>
    </div>


</body>

</html>
